<ion-header>
  <ion-toolbar>
    <div class="container">
      <ion-title>DASHBOARD</ion-title>
    <ion-button fill="clear" (click)="goModal()" class="settingbtn">
      <ion-icon name="settings" class="setting"></ion-icon>
    </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true">
  <ion-card>
    <ion-card-header>
      WELCOME USER
    </ion-card-header>
  </ion-card>

  <!-- <div class="shows">
    <div class="title-show">
        <h3>VEHICLE COMPANY</h3>
    </div>
    <div class="list-show">
      <div class="content" *ngFor="let book of books; let i = index;">
        <div *ngIf="i < 100">
          {{i+1}}: ID : {{book.Make_Id}} - Manufacture : {{ book.Make_name }}
        </div>
      </div>
    </div>
  </div>  -->

  
  <div  class="logoutbtn">
    <ion-fab-button (click)="goLogin()">
      <ion-icon name="log-out" color="dark"></ion-icon>
    </ion-fab-button>
  </div>

  <ion-fab vertical="bottom" horizontal ="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>