<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card><ion-card-content>NAME: JOHNE WALTER A. ALMONACID</ion-card-content></ion-card>
    <img src="/FireBase/src/assets/profile.jpg" class="profile">
    <ion-card> <ion-card-content>BRIEF DESCRIPTION ABOUT YOURSELF: ISA AKONG ASPIRING TO BE A BILLIONAIRE NA MAY KAKASIMULA LANG NA BUSINESS NA MARSHMALLOW. PDENG PDE TO SA MAGJOJOWA. PM LANG SIR</ion-card-content></ion-card>
    <ion-card> <ion-card-content>HOBBIES/LIKES/TALENT/SKILLS: I CAN FINGERSTYLE IN GUITAR, MOVE MY EARS, KAYA KO MAG PUSH UP 20 SUNOD SUNOD</ion-card-content></ion-card>
    <ion-card> <ion-card-content>HOW DO YOU SEE YOURSELF IN 5 YRS?: A SUCCESSFULL MULTI-BILLIONAIRE ENTREPRENUER AND A MOTIVATIONAL SPEAKER </ion-card-content></ion-card>
    <ion-card> <ion-card-content>STRENGTHS & WEAKNESS: RIGHT MENTALITY, GOD, CREATIVE, PRODUCTIVE, DISCIPLINE/ READING, FOCUS, SLOW LEARNER</ion-card-content></ion-card>
    <ion-card> <ion-card-content>MOTTO: ALL BIG THINGS COME FROM SMALL BEGINNINGS </ion-card-content></ion-card>
    <ion-card> <ion-card-content>LOVE LANGUAGE MO? BAKIT?: PHYSICAL TOUCH, PARA RAMDAM TALAGA  </ion-card-content></ion-card>
    <ion-card> <ion-card-content>KUNG PAGKAIN KA ANO KA? BAKIT?: ADOBO, SUMASARAP PAG TUMATAGAL</ion-card-content></ion-card>
    <ion-card> <ion-card-content>PET PEEVE: PAG SINASAYANG ORAS KO</ion-card-content></ion-card>
    <ion-button (click) = "logout()" color="danger">Log out</ion-button>
  
</ion-content>







